/* <!-- Fioralba Frasheri 20/11/2023 --> */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9293d0;
    --text-color: #727171;
}

html {
    font-size: 10px;
}

body {
    font-family: Inter, sans-serif;
    background-color: rgb(144, 145, 208);
    color: white;
}

#background-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;

}

/* Common Styles */

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(250, 245, 245, 0.5);
}

.item-preTitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}

.item-title {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}

.item-subtitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}


.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background-color: rgb(8, 8, 8, 0.9);
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.profile {
    grid-column: 1/-1;
    margin-bottom: 2rem;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.group-2,
.group-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;

}

.group-3 {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.group-3 {
    flex: 1;
    flex-direction: column;
    border-left: none;
}

/* Profile */

.profile-container {
    display: flex;
    gap: 2rem;
}

.profile-profileImg {
    max-width: 300px;
    transition: transform 0.3s ease;
    animation: alternate;
}

#prf {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: blue;
    border: 1;
    object-fit: cover;
}

.profile-name {
    margin-top: 1rem;
}

.first-name {
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
    text-shadow: 2px 2px 4px rgba(250, 245, 245, 0.5);
}

.last-name {
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
    text-shadow: 2px 2px 4px rgba(250, 245, 245, 0.5);
}

.profile-title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(250, 245, 245, 0.5);
}

/* experiences */

.exp-item {
    margin-top: 2rem;
}

/* education */

.edu-item {
    margin-top: 2rem;
}

/* Skills */

.skills-list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/* awards */

.awards-item {
    margin-top: 2rem;
}

/* certifications */

.certification-item {
    margin-top: 2rem;
}

/* references */

.ref-item {
    margin-top: 2rem;
}

.ref-name {
    font-size: 1.6rem;
    font-weight: 700;
}

/* Contact Info */

#footer-table {
    border-color: aliceblue;
    border-right: none;
    border-left: none;
    border-collapse: collapse;
}

th:first-child,
td:first-child {
    border-left: none;
    /* Remove left border for first column */
}

th:last-child,
td:last-child {
    border-right: none;
    border-left: none;
    /* Remove right border for last column */
}

/* .contact-info {
    margin-top: 2rem;
} */

.contactinfo {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
}

/* Socials */

.social-items {
    margin-top: 2px;
}

.social-item:first-of-type {
    margin-top: 0;
    margin-left: 10px;
}

.social-item {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
}

.social-item:hover {
    color: var(--primary-color);
}


/* Language Progress Bars */

.progress-bar {
    width: 100%;
    background-color: #a37297;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: progress;
    height: 20px;
    background-color: #114b13;
    text-align: center;
    line-height: 20px;
    color: white;
    animation: increaseWidth 2s ease-in-out;
}

@keyframes increaseWidth {
    from {
        width: 0;
    }

    to {
        width: progress;
    }
}

/* Interests */

.interest-items {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.interest-item {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}

.interest-item svg {
    width: 2rem;
}

hr {
    grid-column: 1/-1;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 2px solid rgba(128, 128, 128, 0.134);
    width: 80%;
}